.submitComment{
 background: #565ACF;
 color: white;
 padding: 15px 25px;
 border: none;
 border-radius: 8px;
 font-size: 15px;
}
.loading{
 width: 170px;
  background: #565ACF;
 color: white;
 padding: 14px 0px;
 border-radius: 8px;
 border: none;
}