// contact-wraper
// row
.saveyCont{
 span{
  overflow: hidden;
 }
 .container{
  // width: 45vw;
  width: 700px;
  margin-bottom: 40px;
 }

 @media screen  and (max-width: 594px){
   .container{
  width: 90vw;
 }
 .changeQuestionBtn{
  margin-bottom: 20px;
 }
 }
 @media screen  and (max-width: 594px){
 .container{
  width: 95vw;
 }
}
@media screen  and (max-width: 370px){
 .contact-wraper{
  padding-left: 5px;
 }
 .questionCont ul li{
  position: relative;
  // left: -20px;
 }
}
 .questionCont ul{
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: hidden;

 }
 .questionCont ul li{
  line-height: 35px;
  display: flex;
  align-items: center;
 }
 .questionCont ul li span{
  margin-top: 6px;
 }
 .checkBox{
  margin-right: 7px;
 }
 .checkBox input{
  cursor: pointer;
 }
 .changeQuestionBtn{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
 }
 .positionBtn{
  	background-color: #fff;
			color: $primary;
			padding: 12px 15px;
			font-weight: 600;
			font-size: 14px;
			min-width: 40px;
			line-height: 1;
			display: block;			
			border-radius: $border-radius-base!important;
			border: 2px solid rgba($primary,0.2);
			cursor: pointer;
   overflow: hidden;
   z-index: 10;
 }
 .positionBtn:hover{
 border-color: transparent;
			background: rgba($primary,0.9);
			color: #fff;
 }
 .rowCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
 }
}
// changeQuestionBtn